$primary-font: "Montserrat", sans-serif;
$accent-color1: #4b01e0;
$accent-color2: #8c2be2;
$font-color1: #616161;
$font-color2: #aeaeae;
$font-color3: #e9e9ed;

body {
  margin: 0;
}

.app {
  font-family: $primary-font;
  height: 100vh;
}

.searchbar {
  top: 0px;
  background-color: $font-color2;
  width: 100vw;
  height: 100spx;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 5px solid $accent-color1;
  position: fixed;

  input {
    width: 250px;
    padding: 13px 10px;
    background-color: $font-color3;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  button {
    margin: auto;
    background-color: $accent-color1;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 17px;
  }

  button:hover {
    background-color: $accent-color2;
    cursor: pointer;
  }
}

.suggestions-container {
  background-image: linear-gradient(to right, #8e2de2, #4a00e0);
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 80px;
  margin-bottom: 25px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);

  h4 {
    color: #ffffff;
    margin: 0;
    font-size: 20px;
  }
}

.results-container {
  width: 100%;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.pagination-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px;

  button {
    font-size: 17px;
    width: 100px;
    background-color: $accent-color1;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
  }

  button:hover {
    background-color: $accent-color2;
    cursor: pointer;
  }
}

.result-card {
  width: 267px;
  text-align: center;
  margin: 10px;
  background-color: #ffffff;

  .result-card__info {
    padding: 0 15px 5px 15px;

    p {
      margin-top: 5px;
      margin-bottom: 10px;
      color: $font-color1;
    }

    .result-card__price {
      display: flex;
      justify-content: center;

      p {
        display: inline;
        color: $font-color2;
      }

      .msrp {
        margin-right: 10px;
        font-style: italic;
        text-decoration-line: line-through;
      }

      .price {
        font-weight: bold;
        font-size: 20px;
        color: $accent-color1;
      }
    }
  }
}

.footer {
  background-color: $font-color1;
  border-top: 12px solid $accent-color1;
  height: 200px;
  width: 100vw;
}
